html, body {margin: 0px;font-family: 'Open Sans', sans-serif;}
body {}

@font-face {
    font-family: 'Flama-Basic-2';
    src: url('../fonts/Flama-Basic-2.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Flama-Book';
    src: url('../fonts/Flama-Book.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SF Sports Night NS';
    src: url('../fonts/SF Sports Night NS.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

#wrapper {width: 810px; margin:0 auto;background-image: url(../images/background.jpg); background-repeat: repeat-x;height: 1048px !important;}
#wrapper.for {height: 672px;}
#wrapper.forreg {height: 470px;}
#wrapper .img {background-image: url(../images/home_fb.jpg);background-repeat: no-repeat;background-size: cover;height: 1048px;width: 100%;} 
#wrapper .register-success {background-image: url(../images/success.png);background-repeat: no-repeat;background-size: cover;height: 1048px;width: 100%;} 
#wrapper .terms {background-image: url(../images/terms_fb.jpg);background-repeat: no-repeat;background-size: cover;height: 1048px;width:100%; }
#wrapper .upload_procedure {background-image: url(../images/upload_fb.jpg);background-repeat: no-repeat;background-size: cover;height: 1048px;width:100%; }
.logo {text-align: center;}
.content {background-color:rgba(41, 41, 41, 0.32);width:74%;margin:25px auto;padding: 30px;}
.content .form-group {margin-bottom: 22px;}
.content .form-group label {width: 25%;float: left; color: #FFF;}
.content .form-group input {width: 50%;float: left;}
.content .form-group input.file {color: #FFF;}
.content .form-group.submit  {margin-bottom: 0px;}
.content .form-group.submit input {width: auto;margin-bottom: 0px;border-radius: 7px;padding: 11px;border: none;color: #FFF;background-color: #3E73AD;font-weight: bold;}
.textbox {border-radius: 6px; border: 1px solid #999;outline:0;height:25px;width: 275px;padding: 0px 5px;}
.selectbox {border-radius: 6px; border: 1px solid #999;outline:0;height:25px;width: 311px;padding: 0px 5px;}
.clear {clear: both;}

.sign-up-panel{background-color:rgba(41, 41, 41, 0.32); margin:25px auto;padding: 25px;}
.login-panel{background-color:rgba(41, 41, 41, 0.32); margin:25px auto;padding: 25px;}