html,body {background-image: url(../images/background.png);background-size: cover;background-repeat: no-repeat;font-family: 'flamabook';}

h1,h2,h3{font-family: 'sf_sports_night_nsregular';color: #000;margin-bottom: 0px;}
a{color: #FFF;text-decoration: underline}

.left {float: left;width:50%;}
.right {float: right;width:50%;}
button.btn {border-radius: 0px;font-family: 'flamabook';}
button.btn-default {background-color: rgba(218, 218, 218, 0.2);}
.clear {clear: both;}

.home, .face {width: 408px;}
.home h3 {padding:10px 30px;font-size: 22px;}
.home.h-left {float: right;}
.home .form-control {background-color: transparent;border-radius: 0px;border: none;border-bottom: 1px solid #575757;height: 30px;}
.home .btn-default,.home .btn-trans {width: 100%;font-size: 16px;color: #FFF;border:none;}
.home .btn-default:hover {background-color: rgba(218, 218, 218, 0.4);}
.home .btn-trans {background-color: transparent;border: 1px solid #3c3c3c;color: #8c8c8c;}
.home .up {background-image: url(../images/grey-ban.png);background-size: cover;background-repeat: no-repeat;}
.home .down {background-color: #000;padding:20px 32px;}
.home label {color:#f4eeee;}
.home .ext {text-align: center;}
.home .ext .checkbox {text-align: center;}
.home .ext .btn {    margin-top: 16px;}
.bottom {margin-top:96px; }
.face {margin-top: 30px;}

.terms {width: 100%; color:#FFFFFF;}

#user-bar {background-color: rgba(255, 255, 255, 0.4);padding: 10px;color: #FFF;}
#user-bar .left {margin-top: 20px;}
#user-bar .left p {font-size: 26px;}
#user-bar .left p span {color: #ff9600;}
#user-bar .left a {font-size: 22px;}
#user-bar .right {text-align: right;}
#user-bar .wrap {width: 100px;float: right;}
#user-bar .wrap p {text-align: center;font-size: 17px;margin-top:0px;margin-bottom: 0px;color: #FFF;}

.circle-line {margin: 98px 0px;}
.circle-line .wrap {text-align: center;margin-bottom: 30px;}
.circle-line .wrap img{width: 180px;}
.circle-line .wrap a {font-size: 18px;}
.circle-line .wrap .low {margin-top: 10px;}
.circle-line .wrap .btn {font-size: 22px;margin-top: 10px;border: none;border-radius: 0px;padding: 6px 46px;}
.circle-line .wrap .btn.one {background-image: url(../images/con-bar1.png);background-size: cover;}
.circle-line .wrap .btn.two {background-image: url(../images/con-bar2.png);background-size: cover;}
.circle-line .wrap .btn.three {background-image: url(../images/con-bar3.png);background-size: cover;}

.circle-line.score .btn {cursor: default;padding:6px 88px;}

#opt {margin: 30px 10px;}
#opt .wrap {width: 702px;margin: 0 auto;} 
#opt .wrap .down  {background-color: #1f1f1f;} 
#opt .wrap .down .head h2  {color: #FFF;padding: 16px 30px;margin-top: 6px;} 
#opt .up.one {background-image: url(../images/thirdban-2.png);background-size: cover;} 
#opt .up.one h1 {color: #FFF;text-align: center;padding: 12px;font-size: 50px;} 
#opt .wrap .down .cont .i-wrap{height: 450px;overflow-y:scroll;}
#opt .wrap .down .cont {padding: 32px;}
#opt .wrap .down .cont .op {margin-bottom: 12px;}
#opt .wrap .down .cont .op .date {width: 20%;display: inline-block;color: #FFF;}
#opt .wrap .down .cont .op .off {width: 48%;display: inline-block;color: #00aeef;}

#opt .upper {background-image: url(../images/thirdban-2.png);background-size: cover;} 
#opt .upper h1 {color: #FFF;text-align: center;padding: 12px;font-size: 50px;} 

#opt .uppd {background-image: url(../images/thirdban-3.png);background-size: cover;} 
#opt .uppd h1 {color: #FFF;text-align: center;padding: 12px;font-size: 50px;} 

.head {background: linear-gradient(#7f7f7f, #606060);}

.q {margin-bottom: 20px;}
.q .form-control {width: 20%;display: inline-block; margin-right: 10px;}
.q select{display: inline-block; margin-right: 10px; padding:5px; width: 30%; background: #373B3E; color: #FFFFFF; border: 1px #4F5052 solid; border-radius: 0;}
.q input[type="number"] {
    display: inline-block; padding:5px; width: 20px; background: #373B3E; color: #FFFFFF; border: 1px #4F5052 solid; border-radius: 0;}
.q-wrap {color: #FFF;}
.q-wrap p {margin-bottom: 4px;}
.q-wrap .radio-inline {color: #00aeef;}

.submit {margin-top: 30px;color: #FFF;border:none;background: linear-gradient(#3a3d40, #333639);padding: 6px 44px;margin-left: 34px;}
.submit:hover {color: #FFF;}

.arr {margin: 10px;margin-right: 20px;}
.pagination>li>a, .pagination>li>span {border: none;background-color: #373a3d;color: #FFF;}
.pagination>li>a:hover, .pagination>li>span:hover {border: none;background-color: #373a3d;color: #FFF;}
.pagination>li:first-child>a, .pagination>li:first-child>span {border-radius: 0px;}
.pagination>li:last-child>a, .pagination>li:last-child>span {border-radius: 0px;}

footer {margin-top: 80px;text-align: center;}
footer a {}
footer p {background-color: #01aeef;text-align: center;padding: 10px 0px;font-size: 12px;margin-bottom: 0px;margin-top: 4px;}

/* Added by Developer */

label.myButton input[type="file"] {
    position:absolute;
    top: -1000px;
}
/***** Example custom styling *****/
.myButton {
    border: 1px solid #3D3D3D;
    padding: 5px;
    background: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.myButton:hover {
    cursor: pointer;
}
/*.myButton:active {
    background: #FFFFFF;
}*/
.myButton :invalid + span {
    color: #8C8C8C;
    font-size: 12px;
}
.myButton :valid + span {
    color: #FFFFFF;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.countryscore {
    display: inline-table;
    margin-right: 20px;
}
.countryscore input{color:#000}
.countrydisable{font-size:20px; color:#00aeef}
/* Developer added CSS ends here */

@media (max-width: 480px) {
    .home, .face {width: 100%;}
    #user-bar .left, #user-bar .right {float: none;width: 100%;text-align: center;margin-top: 0px;}
    #user-bar .right .wrap {float: none;margin: 0 auto;margin-top: 20px;}
    #opt .wrap {width: 100%;}
    #opt .wrap .down .cont .i-wrap {font-size: 16px;}
    #opt .wrap .down .cont .op .date,#opt .wrap .down .cont .op .off {width: 100%;}
    #opt .wrap .down .cont .op {margin-bottom: 32px;}
    #opt .uppd h1 {font-size: 40px;} 
    .q .form-control {
    width: 100%;margin-bottom: 10px;
    }
    #user-bar .left p {
        font-size: 20px;
    }
    #user-bar .left a {
        font-size: 16px;
    }
}
@media (min-width: 480px) and (max-width: 769px) {
    .home, .face {margin: 0 auto;}
    .face {margin-top: 28px;}
    .home.h-left {float: none;}
    #opt .wrap {width: 100%;}
    #opt .wrap .down .cont .op {margin-bottom: 32px;}
    #opt .uppd h1 {font-size: 40px;} 
    .q .form-control {
    width: 42%;
    }
    #user-bar .left p {
        font-size: 20px;
    }
    #user-bar .left a {
        font-size: 16px;
    }
}
@media (min-width: 769px) and (max-width: 993px) {
    .home, .face {margin: 0 auto;}
    .face {margin-top: 28px;}
    .home.h-left {float: none;}
    .circle-line .wrap img {width: 100%;}
    #opt .wrap .down .cont .i-wrap {font-size: 16px;}
    #opt .uppd h1 {font-size: 40px;} 
    #opt .wrap .down .cont .op {
        margin-bottom: 22px;
    }
    #user-bar .left p {
        font-size: 20px;
    }
    #user-bar .left a {
        font-size: 16px;
    }
}
@media (min-width: 993px) and (max-width: 1200px){}