@font-face {
    font-family: 'Flama-Basic';
    src: url('../fonts/Flama-Basic-2.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Flama-Book';
    src: url('../fonts/Flama-Book.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SF-Sports-Night-NS';
    src: url('../fonts/SF-Sports-Night-NS.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

html, body {margin: 0px; font-family: 'Flama-Basic', sans-serif;}
body { background-color: #000000;}

p{
	font-family: 'Flama-Basic';
    line-height: 25px;	
}
p span{
	font-family: 'Flama-Basic';
}
.no-padding{
    padding: 0;
}
.container{

    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	margin:0 auto;
	max-width:100%;
    width: 1000px;
    padding: 0px;
}
 .header {
    /*background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1030px;*/
    position: relative;
    background-position: 100% 39%;
} 
/*.header figure.logo {
    position: absolute;
    /*top: 60px;
    left: 135px;*/
}*/


.header figure.logo {
    display: inline-block;
    /*border: 1px dotted gray;
    margin: 20px;*/ /* adjust as needed */
}
.header figure img {
    vertical-align: top;
}
.header figure figcaption {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: -55px;
    font-family: 'Flama-Basic', sans-serif;
}


/*.logo figcaption {
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: -55px;
    font-family: 'Flama-Basic', sans-serif;
}*/{

}

.user_section{      
    background-image: url(../images/user_section_background.jpg);
    background-repeat: repeat-x;
    height:100px;
    padding: 0px;
    color: #FFFFFF;
}
.user_section .user_score{    
    padding: 25px 150px;
}

.user_section .user_image img{
    max-height: 50px;
}
.mainpanel{
    padding: 50px 140px;
}

.mainpanel .title_header_image{
    background-color: #9a9a9a;
    background-image: url('../images/title_header_image.png');
    background-repeat: no-repeat;
    background-position: right;
}
.mainpanel .title_header_image p{
    font-family: 'SF-Sports-Night-NS';
    font-weight: 700;
    padding: 5px 25px;
}

.mainpanel .introform{
    padding:0px;
}
.mainpanel .formsection{    
    background-image: url(../images/background_bar.png);
    background-repeat: repeat-y;
    margin: 15px;
}
.mainpanel .formsection .myform{
    padding: 0 40px;
}

.mainpanel .formsection .textbox{
    background: none;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid;
    border-width: 90%;
}

.mainpanel .formsection .btn {    
    background-image: url(../images/button_background.jpg);
    background-repeat: repeat-x;
    border-radius: 0px;
    width: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0px;
}

.mainpanel .formsection .myform a {
  color: #737373;
  text-align: center;
}



label.myButton input[type="file"] {
    position:absolute;
    top: -1000px;
}

/***** Example custom styling *****/
.myButton {
    border: 1px solid #3D3D3D;
    padding: 5px;
    background: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.myButton:hover {
    cursor: pointer;
}
/*.myButton:active {
    background: #FFFFFF;
}*/
.myButton :invalid + span {
    color: #8C8C8C;
    font-size: 12px;
}
.myButton :valid + span {
    color: #FFFFFF;
}
.mainpanel .formsection .check_box{
    color:#737373;
}
/* Footer start */
.footer{
	background: #01AEF0;
    padding: 10px 0;
}
.nopadding {
    padding: 0 5px;
}
.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.circle_container{
    padding: 20px 20px 100px 50px; 
}

.circle_container button{
}
.circle_container a{
    color: #FFFFFF;
    border: 0px;
    padding:5px 20px; 
}

.circle_container a.btn_match{
    color: #000000;
    background-color: #00AEEF;
    margin-top: 5px;
}

.circle_container button.btn_ultimate{
    color: #000000;
    background-color: #00A950;
    margin-top: 5px;
}

.circle_container button.btn_all{
    background-color: #F68D29;
    margin-top: 5px;
}

.table{
    color: #FFFFFF;
}

@media (max-width: 320px) {
    .logo figcaption p{
            margin-top: -18px;
    }
}
@media (max-width: 360px) {
    .logo figcaption p{
            margin-top: -18px;
    }
}
@media (min-width: 320px) and (max-width: 414px)  {
    .logo figcaption p{
            margin-top: -18px;
    }
}
@media (max-width: 480px){
    .logo figcaption p{
            margin-top: -18px;
    }

    .mainpanel{
        padding: 10px;
    }
}
@media (max-width: 640px) {
    .logo figcaption p{
        margin-top: 35px;
    }

    .mainpanel{
        padding: 10px;
    }

}
