@media (max-width: 1024px) {    
    .offers .super figcaption p {
        padding: 10px 0;
    }   
}

@media (min-width: 768px) and (max-width: 991px) {
    .offers .cash figcaption p em{
        display: inline-block;
        margin-right: 3px;
    }
    .offers .cash figcaption p{
        margin: 12px 0;
    }
    .cash figcaption p br{
        display: none;
    }
    .cash {
        margin: 50px 0 0 40px;
    }
    .offers .cash figure {
        left: 0px;
        top: 39px;
    }
    .header figure.logo{
        width: 50%;
        top: 175px;
    }
    .berger-box {
        width: 50%;
    }
    .header p.caption {
        right: 0;
        width: 54%;
        bottom: -75px;
    }
    .offers {
        margin-top: 120px;
    }
    .offers figcaption {
        padding: 9px 10px;
    }
    .terms-conditions {
        padding: 56px 15px 65px 15px;
        background-position: 22%;
    }
    em.left {
        width: 100%;
    }   
    .register form {
        background-color: rgba(41, 41, 41, 0.6);
        margin: 0px;
    }
    .upload-procedure {
        padding: 30px;
    }
    .fb-like em {
        font-size: 19px;
    }  
}

@media (max-width: 768px) {
    .header {
        height: 705px;
    }
        .header figure.logo{
        width: 50%;
        top: 105px;
    }
}

@media (max-width: 767px) {
    .offers .cash figcaption p em{
        display: inline-block;
        margin-right: 3px;
    }
    .offers .cash figcaption p{
        margin: 12px 0;
    }
    .cash figcaption p br{
        display: none;
    }
    .cash {
        margin: 50px 0 0 40px;
    }
    .offers .cash figure {
        left: 0px;
        top: 39px;
    }
    .header figure.logo{
        width: 50%;
    }
    .berger-box {
        width: 50%;
    }
    .header p.caption {
        right: 0;
        width: 54%;
        bottom: -74px;
    }
    .offers {
        margin-top: 110px;
    }
    .offers figcaption {
        padding: 9px 10px;
    }
    .navbar-default ul li {
        display: block;
        text-align: left;
        border-bottom: 1px solid #ccc;
        border-right: none;
    }
    .navbar-default ul li:last-child{
        border-bottom: none;
    }
    .navbar-collapse{
        padding: 0;
    }
    .terms-conditions {
        padding: 56px 15px 65px 15px;
        background-position: 22%;
    } 
    em.left {
        width: 100%;
    }
    .upload-procedure {
        padding: 30px;
    }
    .fb-like {
        /*margin: 0 -15px 25px 75px;*/
    }
    .fb-like em {
        font-size: 18px;
    }
    .fb-like:before {
        left: -74px;
        font-size: 70px;
        top: -18px;
    }
    .procedure-wrap {
        padding: 40px 0 40px 30px;
    }  
}

@media (max-width: 640px) {
    .header p.caption {
        right: 0;
        width: 100%;
        bottom: 60px;
    }
    .offers .col-md-6.col-sm-6.col-xs-6{
        width: 100%;
        margin-bottom: 115px;
    }
    .cash {
        margin: -20px 0 0 30px;
    }
    .offers .cash figure {
        top: -30px;
    }
    .header {
        height: 650px;
    }
    .offers {
        margin-top: 140px;
    }

    .header figure.logo {
        top: 64px;
    }
    .header figure.logo {
        top: 95px;
        width: 60%;
    }
    .header figure.berger-box {
        bottom: -40px;
        left: 0;    
    }
    .header p.caption {
        bottom: -110px;
    }
    p.bg, p.bg a{
        font-size: 15px;
    }
    .fb-like:before {
        top: -7px;
    }   
}

@media (max-width: 480px) {
    .header {
        height: 480px;
    }
    .footer .col-md-10.col-sm-9.col-xs-9, .footer .col-md-2.col-sm-3.col-xs-3{
        width: 100%;
    }
    .offers {
        margin-top: 180px;
    }
    .footer-left {
        margin: 20px 0 0px 80px;
    }
    .footer-left {
        margin: 20px 0 55px 80px;
    }
    .offers .col-md-6.col-sm-6.col-xs-6 {
        margin-bottom: 95px;
    }
    .header figure.logo {
        top: 55px;
    }
    .terms-conditions {
        padding: 56px 15px 65px 15px;
        height: auto !important;
        padding-top: 13px !important;
    }
    .pattern input {
        margin: 20px 4px 0 0;
    }
    .register form{
        margin: 0;
    }
    .upload-procedure{
        padding-top: 55px;
    } 
    .img-responsive{
        max-height: 100px !important;
    }
    .img-responsive-single img{
        max-width: 100% !important; 
        max-height: 100% !important;   
    }
    .fb-share-button-group{
        padding-top: 5px;
        display: inline-block !important;
    }
    .defult-img a{
        height: 100px !important;
        display: inline-block;
    }
    figure.defult-img {
        min-height: 190px !important;
    }
}

@media (min-width: 320px) and (max-width: 414px)  {
    .header {
        height: 390px;
    }
    .offers .cash figcaption p em {
        display: block;
    }
    .offers .cash figure {
        top: -16px;
    }
        
    ul.second li {
        margin: 0 0 5px 0;
    }
    ul.second li:before, ul.second li:after{
        display: none;
    }
    ul.second {
        margin-left: -35px;
    }
    em.more-info strong {
        font-size: 14px;
    }
    em.more-info strong a {
        font-size: 14px;
    }    
    ul.last {
        overflow: hidden;
    }
    .pattern .col-md-2.col-sm-3.col-xs-4 {
        width: 50%;
    }    
    .fb-like em {
        font-size: 14px;
    }
    ul.second-stage li {
        margin-left: 0;
    }
    ul.second-stage li:before {
        left: -10px;
    }  
    .img-responsive{
        max-height: 100px !important;
    }
    .img-responsive-single img{
        max-width: 100% !important; 
        max-height: 100% !important;   
    }
    .fb-share-button-group{
        padding-top: 5px;
        display: inline-block !important;
    }
    .defult-img a{
        height: 100px !important;
        display: inline-block;
    } 
    figure.defult-img {
        min-height: 190px !important;
    }     
}

@media (max-width: 360px) {
    .header {
        height: 350px;
    }
    .header p.caption {
        bottom: -110px;
        font-size: 18px;
    }
    .offers {
        margin-top: 180px;
    }
    ul.numbers {
        padding-right: 15px;
    }
    .procedure-wrap {
        padding: 40px 0 40px 15px;
    }
    .img-responsive{
        max-height: 100px !important;
    }
    .img-responsive-single img{
        max-width: 100% !important; 
        max-height: 100% !important;   
    }
    .fb-share-button-group{
        padding-top: 5px;
        display: inline-block !important;
    }
    .defult-img a{
        height: 100px !important;
        display: inline-block;
    } 
    .gallery .img-section{
        margin-left: 0px; 
        margin-bottom: 0px;
    }
    .form{
        height: 0px !important;
    } 
    .gallery .img-section img{
        width: 255px !important;
        max-height: 100% !important;
    }
    .gallery .img-section .desc{        
        background: white;
        padding: 3px 0px;
    }
    figure.defult-img {
        min-height: 190px !important;
    }
}

@media (max-width: 320px) {
    .header figure.logo {
        top: 28px;
    }
    .offers .bumper figcaption p, .offers .super figcaption p {
        padding: 10px 0 !important;
        margin-left: 15px;
        text-align: center;
    }
    .offers .bumper figure {
        bottom: 117px;
    }
    .offers .super figure{
        bottom: 53px;
    }
    .cash {
        margin: 0;
    }
    .offers .cash figure {
        top: -56px;
    }
    .offer-item.bumper {
        margin: 70px 0;
    }
    .header {
        height: 280px;
    }
    .offers {
        margin-top: 160px;
    }
    .offers .bumper figcaption {
        margin-left: 0px;
    }
    .header p.caption {
        bottom: -105px;
    }
    figcaption:after {
        border-bottom: 75px solid #fff;
        right: -1px;
        top: -8px;
    }
    figcaption:before {
        left: -1px;
        top: 5px;
    }
    .super figcaption:after {
        border-bottom: 78px solid #fff;
        right: -1px;
        top: -8px;
    }
    .super figcaption:before {
        left: -1px;
        top: 0px;
        border-bottom: 78px solid #fff;
    }
    .cash figcaption:after {
        border-bottom: 78px solid #fff;
        top: -3px;
    }
    .cash figcaption:before {
        left: -1px;
        top: -1px;
    }
    .footer-left {
        margin: 20px 0 55px 50px;
    }
    .footer-left:before {
        left: -59px;
    }
    .social-links .col-md-8 {
        padding: 0 0px 0 15px;
    }
    .img-responsive{
        max-height: 100px !important;
    }
    .img-responsive-single img{
        max-width: 100% !important;  
        max-height: 100% !important;  
    }
    .fb-share-button-group{
        padding-top: 5px;
        display: inline-block !important;
    }
    .defult-img a{
        height: 100px !important;
        display: inline-block;
    }
    .gallery .img-section{
        margin-left: 0px; 
        margin-bottom: 0px;
    }
    .form{
        height: 0px !important;
    }
    .gallery .img-section img{
        width: 255px !important;
        max-height: 100% !important;
    }
    .gallery .img-section .desc{        
        background: white;
        padding: 3px 0px;
    }
    figure.defult-img {
        min-height: 190px !important;
    }
}