/*@font-face {
    font-family: 'ganeshregular';
    src: url('../fonts/ganesh_regular_0-webfont.woff2') format('woff2'),
         url('../fonts/ganesh_regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shreenath__extraboldregular';
    src: url('../fonts/shreeb-webfont.woff2') format('woff2'),
         url('../fonts/shreeb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'swis721_blkcn_btblack';
    src: url('../fonts/swiss721blackcondensedbt-webfont.woff2') format('woff2'),
         url('../fonts/swiss721blackcondensedbt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'himalbold_bold111090_131932';
    src: url('../fonts/hibb__0-webfont.woff2') format('woff2'),
         url('../fonts/hibb__0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ganessregular';
    src: url('../fonts/ganess_0-webfont.woff2') format('woff2'),
         url('../fonts/ganess_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p{
	font-family: 'ganeshregular';	
}
p span{
	font-family: 'swis721_blkcn_btblack';
}*/
.container{
	margin:0 auto;
	max-width:100%;
}

.navbar-default {
    background-color: #5C2D91;
    border: none;
    margin: 0 auto;
    border-radius: 0;
}
.navbar-nav {
    float: none;
    margin: 0;
    display: table;
    width: 100%;
    text-align: center;
}
.navbar-default ul li {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #ccc;
    float: none;
    padding: 10px 0;
}

.navbar-default ul li.active{
	background-color: #EB2B90;
}
.navbar-default ul li:last-child{
    border-right: none;
}
.navbar-default ul li a{
    display: block;
    color: #fff !important;
    font-size: 17px;
}
.navbar-default ul li a:hover{
    color: #FFE600 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #FFE600 !important;
    background-color: transparent;
	font-weight:700;
}
.header {
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1400px;
    position: relative;
    background-position: 59% 39%;
}
.header figure.logo{
	position: absolute;
	top: 104px;
	left: 20px;
}

.header figure.main{
    position: absolute;
    top: 0px;
    left: 0px;
}

.header figure.main img{
    width:1200px;
}

.header figure.berger-box {
    position: absolute;
    bottom: -51px;
    left: -12px;
}
.header p.caption {
    position: absolute;
    right: 29px;
    bottom: -78px;
    color: #5c2d91;
    font-size: 22px;
    font-family: 'cv_ganeshregular';
    width: 40%;
    font-weight: 700;
    text-align: center;
}
.header p.caption span {
    font-family: 'swiss721bt_blackcondensed';
    font-weight: 300;
}
.offers figcaption {
    background: #5c2d91;
    color: #ffe600;
    position: relative;
    padding: 10px 10px;
    text-align: center;
}
figcaption:before {
    content: '';
    border-top: 73px solid #fff;
    border-right: 10px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}
figcaption:after {
    content: '';
    border-bottom: 73px solid #fff;
    border-left: 10px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.offers .bumper figcaption p {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 0 70px;
    padding: 10px 0;
}
.offers .bumper figcaption{
	margin-left: 50px;
}
.offers figuare {
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 99;
}
.offers .bumper figure {
    position: absolute;
    left: -20px;
    bottom: -10px;
    z-index: 99;
}
.offers {
    margin-top: 128px;
}
.offers .super figcaption p {
    margin: 0 0 0 105px;
    font-size: 16px;
    line-height: 14px;
    text-align: left;
    padding: 18px 0;
}
.offers .super figure {
    position: absolute;
    left: 2px;
    bottom: -15px;
    z-index: 99;
}
.offers .cash figure {
    position: absolute;
    left: 10px;
    bottom: 0px;
    z-index: 99;
}
.offers .cash figure {
    position: absolute;
    left: 70px;
    top: -59px;
    z-index: 99;
}
.offers .cash figcaption p {
    margin: 10px 0 0 0;
    line-height: 15px;
}
.offers .cash figcaption {
    padding: 10px 10px 5px 10px;
}
.offers .cash figcaption p em{
	color: #fff;
	display: block;
}

.gallery .img-section .desc{text-align: center;font-weight: bold;margin: 5px; color: #5F287B;}


/* Footer start */
.footer{
	background: #c7bbdc;
	padding-bottom:10px;
	border-top: 6px solid #f067a6;
	margin-top: 50px;
}
.footer p {
    font-family: 'shreenath__extraboldregular';
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 5px;
}
.footer p span {
    font-weight: 300;
}
.footer p.small {
    font-size: 10px;
}
.footer-left{
	position: relative;
	margin: 15px -20px 0 75px;
}
.footer-left:before {
    content: '';
    background: url(../images/mobile.png) no-repeat left top;
    position: absolute;
    left: -75px;
    height: 116px;
    width: 100%;
    top: -41px;
}
.footer-right {
    background: #a34098;
    position: relative;
    border-top: 1px solid #ccc;
    margin-top: -3px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    padding: 5px 0;     
}
.footer-right p, .footer-right h2{
	margin: 0;
}
.footer-right h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 23px;
}
.footer-right h2 span {
    display: block;
    color: #ffe600;
    font-size: 22px;
}
.footer-right:before {
    content: '';
    background: url(../images/building-bg.png) left top;
    position: absolute;
    left: 0px;
    height: 27px;
    width: 100%;
    top: -28px;
}
.footer-right span.border {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 11px;
}
.footer-right span.border:before {
    content: '';
    background: #c592c2;
    display: inline-block;
    position: absolute;
    width: 25px;
    left: -29px;
    top: 6px;
    height: 2px;
}
.footer-right span.border:after {
    content: '';
    background: #c592c2;
    display: inline-block;
    position: absolute;
    width: 25px;
    right: -29px;
    top: 6px;
    height: 2px;
}


/* Footer end */




/*scrollToTop*/
.scrollToTop {
    bottom: 41px;
    padding-right: 0;
    position: fixed;
    right: 10px;
    text-align: center;
    z-index: 99;
    display: none !important;
}
.scrollToTop i {
	background: #81B524;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
	color: #fff;
	font-size: 21px;
	height: 28px;
	line-height: 28px;
	width: 28px;
}
.scrollToTop i:hover {
	background: #F39114;
	color: #fff;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}



/* terms-conditions start */
.terms{
    background-image: url(../images/terms_back.jpg) !important;
}


.terms-conditions{
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 55px 60px 15px 55px;    
    min-height: 1465px;
}
.terms-conditions span{
    font-family: Arial;
}
.terms-conditions li {
    font-size: 12px;
    font-weight: 700;
    color: #000;
    line-height: 18px;
}
.terms-conditions .table1 {
   /* padding-right: 405px;*/
}


.ecoupon{
    background-image: url(../images/back_ecoupon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 55px 0px 15px 14px;    
    min-height: 1465px;
}
.ecoupon span{
    font-family: Arial;
}
.ecoupon li {
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

ol.first {
    list-style-type: devanagari;
    padding-left: 20px;
}
ol.first li {
    font-family: himalbold_bold111090_131932;
}
ol.first li span, .second li a, dd span {
    font-family: Arial;
}
ul.first {
    padding: 0;
}
ul.first li{
    margin: 0 10px 0 10px;
    position: relative;
}
ul.first li::before {
    content: '\f111';
    font-family: 'fontawesome';
    display: inline-block;
    left: -10px;
    top: 4px;
    position: absolute;
    font-size: 7px;
}
ul.first li:last-child{
    display: block;
}
.table-responsive .table {
    background: #fff;
    border: 1px solid #212121;
    margin-bottom: 3px;
    text-align: center;
}
.table>thead>tr>th{
    border: 1px solid #212121;
    font-family: 'ganessregular';
    font-size: 12px;
    vertical-align: bottom;
    color: #000;
    padding: 5px 3px 0 3px;
    text-align: center;
}
.table>thead>tr>th span{
    font-family: Arial;
}
.table td{
    border: 1px solid #212121;
}
.table td span{
    font-size: 11px;
}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 700;
}
em.note {
    font-size: 11px;
    display: inline-block;
}
em.left{
    width: 62%;    
}
ul.second li{
    background: #FFFBD5;
    padding: 5px 10px;
    margin: 0 0 5px 50px;
    position: relative;
    z-index: 9;
}
ul.second li a{
    color: #000;
    display: inline-block;
}
ul.second li:nth-child(1):before, ul.second li:nth-child(2):before, ul.second li:nth-child(3):before{
    position: absolute;
    content: '';
    z-index: 2;
}
ul.second li:nth-child(1):before {
    background: url(../images/fb.png) no-repeat left top;
    left: -68px;
    height: 19px;
    top: 4px;
    width: 51px;
}
ul.second li:nth-child(2):before {
    background: url(../images/earth.png) no-repeat left top;
    left: -55px;
    height: 25px;
    top: 2px;
    width: 25px;
}
ul.second li:nth-child(3):before {
    background: url(../images/email.png) no-repeat left top;
    left: -55px;
    height: 24px;
    top: 2px;
    width: 25px;
}
ul.second li:after {
    content: '';
    background: #FFFBD5;
    height: 6px;
    width: 25%;
    left: -39px;
    top: 11px;
    display: inline-block;
    position: absolute;
    z-index: -1;
}
strong {
    font-size: 13px;
    font-family: 'ganessregular';
    display: inline-block;
}
ul.third strong, ul.four strong{
    margin-right: 8px;
}
ul.third li, ul.four li {
    margin: 0 10px 0 5px;
    position: relative;
}
ul.third li::before, ul.four li::before  {
    content: '\f111';
    font-family: 'fontawesome';
    display: inline-block;
    left: -5px;
    top: 4px;
    position: absolute;
    font-size: 7px;
}
.dl-horizontal dt {
    margin-right: 5px;
    text-align: left;
    width: auto;
}
.dl-horizontal dd {
    margin-left: 0;
}
dl{
    margin-bottom: 0;
}
.contact-id {
    text-align: center;
}
p.bg{
    padding: 5px 15px;
}
p.bg, p.bg a {
    background: #EC1A25;
    display: inline-block;
    color: #FFFE01;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 700;
}
em.more-info {
    display: block;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    margin-bottom: 10px;
}
em.more-info strong{
    font-size: 15px;
}
em.more-info a{
    font-size: 18px;
    color: #000;
    font-family: Arial;
}
ul.last p {
    font-size: 12px;
}
ul.last li {
    margin-bottom: 15px;
}

/* terms and condition end */


/* Photo Album page start */

figure.defult-img {
    margin-bottom: 30px;
    padding: 5px;
    background: #fff;
    min-height: 254px;
}

figure.defult-img img {
    border: 1px solid transparent;
} 
figure.defult-img img:hover {
    border: 1px solid #ccc;
   
}

/* Photo Album page end */


/* Register page start */
.register{
    font-family: Arial;
    padding: 0;
    background-position: 50%;
}
.register form {
    background-color: rgba(41, 41, 41, 0.6);
    margin: 50px;
    padding: 30px;
}
.register form label, .radial-rorm span{
    color: #fff;
    font-family: Arial;
    font-size: 16px;
    font-weight: 300;
}
.pattern input, .pattern figure{
    display: table-cell;
    vertical-align: middle;
    height: 40px;    
}
.radial-rorm input{
    margin-right: 10px;
}
.pattern input {
    margin: 25px 15px 0 0;
}
.entry {
    margin-bottom: 15px;
}
.pattern {
    margin-bottom: 30px;
}
.radial-rorm .form-group{
    display: table;
}
.radial-rorm .form-group.no-margin{
    margin-bottom: 0;
}
.contact-field.clearfix {
    margin-bottom: 30px;
}
.radial-rorm span{
    display: block;
}
#address {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding-left: 15px;
}
.submit input{
    width: auto;
    margin-bottom: 0px;
    border-radius: 7px;
    padding: 10px 25px;
    border: none;
    color: #FFF;
    background-color: #3E73AD;
    font-weight: bold;
}
.submit input:hover{
    background-color:#77A3D1;
}


/* Register page end */



/* upload-procedure start */

.upload-procedure {
    padding-bottom: 75px;
}
.upload-procedure, .upload-procedure p {
    font-family: Arial;
    color: #313131;
    font-size: 15px;
}
.procedure-wrap {
    /*background: #fff;*/
    padding: 40px 0;
}
ul.numbers{
    padding-right: 30px;
    margin-bottom: 25px;
}
ul.numbers li{
    position: relative;
    margin-left: 20px;
    color: #313131;
    font-size: 15px;
}

ul.numbers li:before {
    content: '\f178';
    font-family: 'fontAwesome';
    position: absolute;
    left: -20px;
    top: 4px;
    font-size: 10px;
    color: #aaa;
}

ul.numbers li .second-stage li:before {
    content: '\f105';
}

.fblike {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec4b97+0,ec4b97+98,ec4b97+98,f492c1+99,ec4b97+100 */
background: #ec4b97; /* Old browsers */
background: -moz-linear-gradient(left, #ec4b97 0%, #ec4b97 98%, #ec4b97 98%, #f492c1 99%, #ec4b97 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ec4b97 0%,#ec4b97 98%,#ec4b97 98%,#f492c1 99%,#ec4b97 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ec4b97 0%,#ec4b97 98%,#ec4b97 98%,#f492c1 99%,#ec4b97 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec4b97', endColorstr='#ec4b97',GradientType=1 ); /* IE6-9 */
    /*background: #ec4b97;*/
    padding: 17px;
    position: relative;
    /*margin: 0 260px 25px 0px;*/
    margin : 0 -15px 25px 0px;
    border-bottom-right-radius: 13px;
    width:70%;
}
/*.fblike:before {
    content: '\f082';
    font-family: 'fontAwesome';
    position: absolute;
    left: -100px;
    color: #3b589c;
    font-size: 90px;
    top: -30px;
	
}*/
.fblike::after {
    content: '';
    position: absolute;
    right: 0;
    top: -14px;
    border-radius: 0 32px 0 0;
    border: 0;
    background: #cb196d;
    width: 15px;
    height: 15px;
}
.fblike em {
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
}
.fblike em img{
    display: inline-block;
    vertical-align: top;
}


/* upload-procedure end */


/* Additional css */
.text-left{
    text-align: left !important;
}
.text-normal{
    font-weight: 100;
}

.numbers li a {word-break : break-all;}
